<!DOCTYPE html>
<html>
<head>
  <title>Assessment</title>
  <%= stylesheet_link_tag    "assessment/application", media: "all" %>
  <%= javascript_include_tag "assessment/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
